<mat-toolbar color="primary">
  <img  class=logo src="../../../assets/img/img-01.svg" alt="Logo">
  <span class="spacer"></span>
  <a mat-button href="/acceuil">Acceuil</a>
  <a mat-button href="/article" routerLinkActive="active" ariaCurrentWhenActive="page">Article</a>
  <a mat-button routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
  <a mat-button href="/connexion" class="connexion" routerLinkActive="active" ariaCurrentWhenActive="page">Connexion</a>
</mat-toolbar>


